@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: poppins;
    font-weight: 600;
    background: rgb(255, 255, 255);
}

#notRen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 5px 5px #6e6a6a70;
}

.logo {
    width: 100px;
    margin-left: 50px;
}

.nav-items {
    font-size: 17px;
}

.nav-items>ul {
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.nav-items>ul>li {
    list-style: none;
    margin: 0px 10px;
    cursor: pointer;
    color: rgb(46, 42, 42);
}

.nav-items>ul>li:hover {
    text-decoration: underline;
    color: black;
}

.btn {
    background-color: green;
    color: white;
    padding: 10px 14px;
    font-size: .95rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.res-card {
    width: 200px;
    border-radius: 10px;
    padding: 7px;
    margin: 10px;
    text-decoration: none;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 20px 2px rgba(43, 42, 42, 0.087);
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.res-card:hover {
    box-shadow: 0px 0px 20px 2px rgba(43, 42, 42, 0.267);
    cursor: pointer;
    scale: 1.01;
    transition: all ease 0.85ms;
}

.res-card>h3 {
    margin: 0px 0px;
    font-size: 15px;
    margin-bottom: 10px;
    text-decoration: none;
}

.res-card>h4 {
    margin: 4px 0px;
    font-size: 12px;
    color: rgb(44, 41, 41);
}

.res-card>h4>span {
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: green;
}

.Search {
    padding: 10px;
}

.cont-bn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
}

.filter-btn {
    background-color: rgb(255, 60, 0);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

.filter-btn:hover {
    box-shadow: 0px 0px 5px 5px rgba(63, 58, 58, 0.13);
    scale: 1.05;
    transition: all ease 0.85ms;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 53px;
}

.card {
    width: 200px;
    height: 350px;
    border-radius: 10px;
    padding: 7px;
    margin: 10px;
    background-color: #eee8e8ce;
    overflow: hidden;
    position: relative;
}

.img-shimmer {
    width: 100%;
    height: 140px;
    background-color: #c7c2c2c7;
    border-radius: 10px;
}

.heading1 {
    width: 100%;
    border-radius: 15px;
    height: 15px;
    background-color: #c7c2c2c7;
    margin-top: 10px;
}

.heading2 {
    width: 70%;
    border-radius: 15px;
    height: 15px;
    background-color: #c7c2c2c7;
    margin-top: 10px;
}

.heading3 {
    width: 50%;
    border-radius: 15px;
    height: 15px;
    background-color: #c7c2c2c7;
    margin-top: 20px;
}

.heading4 {
    width: 50%;
    border-radius: 15px;
    height: 15px;
    background-color: #c7c2c2c7;
    margin-top: 20px;
}

.search-box {
    height: 30px;
    width: 200px;
    border-radius: 20px;
    border: none;
    padding: 5px 15px;
    font-weight: 500;
    box-shadow: 0px 0px 5px 5px rgba(160, 152, 152, 0.274);
}

.menu {
    width: 60%;
    margin: 20px auto;
    min-height: 100vh;
}

.title1 {
    font-size: 10px;
}

.heading11 {
    margin-left: 20px;
    font-size: 24px;
}

.menucard {
    padding: 30px;
    margin: 20px;
    border: 1px solid rgb(158, 144, 144);
    border-radius: 20px;
    box-shadow: 0px 20px 3px 0px rgba(148, 138, 138, 0.274);
}

.span {
    background-color: green;
    color: white;
    border-radius: 50%;
    padding: 0px 5px;
}

.cuisines {
    color: orangered;
    text-decoration: underline;
    font-weight: 800;
    font-size: 14px;
    margin: 12px 0px;
}

.rating {
    font-size: 15px;
    font-weight: 600;
}

.outlet {
    font-size: 13px;
    display: flex;
    gap: 10;
    align-items: center;
}

.card1 {
    color: gray;
    font-size: 13px;
    font-weight: 400;
}

.bBYPYZ {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.jnMRZP {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(196, 196, 196);
}

.kEBcrx {
    width: 1px;
    height: 20px;
    background: rgb(196, 196, 196);
}

.jnMRZP {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(196, 196, 196);
}

.msg {
    margin-top: 20px;
    color: rgb(75, 72, 72);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
}

.boxgray {
    background-color: rgba(235, 226, 226, 0.767);
    width: 100%;
    height: 20px;
    margin: 50px 0px;
    border-radius: 5px;
}

.newmenuinfo {
    display: flex;
    align-items: center;
    margin: 30px 0px;
    gap: 30;
    padding: 20px;
    border: 1px solid rgb(192, 182, 182);
    border-radius: 20px;
    background-color: rgba(233, 222, 222, 0.575);
}

.menutile {
    font-size: 17px;
    margin-bottom: 10px;
}

.menudesc {
    font-size: 14px;
    font-weight: 400;
    color: rgb(92, 88, 88);
    margin-top: 10px;
}

.navigateshim {
    background-color: #c7c2c2c7;
    width: 100px;
    height: 15px;
    border-radius: 10px;
}

.topshim {
    width: 60%;
    margin: 20px auto;
    min-height: 100vh;
}

.title {
    background-color: #c7c2c2c7;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    margin: 30px 0px;
}

.shimmercont {
    padding: 30px;
    margin: 20px;
    border: 1px solid rgb(158, 144, 144);
    border-radius: 20px;
    height: 150px;
    box-shadow: 0px 20px 3px 0px rgba(148, 138, 138, 0.274);
}

.ratingcont {
    background-color: #c7c2c2c7;
    height: 20px;
    width: 350px;
    border-radius: 20px;
}

.cuisinecont {
    background-color: #c7c2c2c7;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    margin-top: 20px;
}

.shimbox {
    background-color: #c7c2c2c7;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    margin-top: 20px;
}

.shimclass {
    background-color: #c7c2c2c7;
    height: 20px;
    width: 200px;
    border-radius: 10px;
    margin: 10px 4px;
}

.usercard {
    padding: 10px;
    border: 1px solid black;
}